<template>
  <div class="home">
    <font-awesome-icon class="icon" icon="pencil-alt"></font-awesome-icon>
    Registration Form Component written with Vue.js
  </div>
</template>

<style lang="stylus">
.home > .icon
  font-size: 5rem
</style>
