<template>
  <b-table :data="data" :columns="columns"></b-table>
</template>

<style scoped>

</style>

<script charset="utf-8">
export default {
  data() {
    return {
      columns: [
        {
          field: 'honorific',
          label: 'Honorific',
        },
        {
          field: 'firstName',
          label: 'First name',
        },
        {
          field: 'lastName',
          label: 'Last name',
        },
        {
          field: 'email',
          label: 'Email',
        },
        {
          field: 'dateOfBirth',
          label: 'Date of Birth',
        },
        {
          field: 'phoneNumber',
          label: 'Phone number'
        },
      ],
      data: []
    }
  },
  mounted() {
    const rawUsers = window.sessionStorage.getItem('users');
    let storedUsers;
    if (rawUsers !== null) {
      storedUsers = JSON.parse(window.sessionStorage.getItem('users'));
    } else {
      storedUsers = [];
    }
    for (const u of storedUsers) {
      this.data.push({
        honorific: Number(u.honorific),
        firstName: u.firstName,
        lastName: u.lastName,
        email: u.email,
        dateOfBirth: u.dateOfBirth,
        phoneNumber: u.phoneNumber
      });
    }

    this.data = this.data.reverse();
  }
}
</script>

