<template>
  <div>
    <Registration-Form />
  </div>
</template>

<style lang="stylus" scoped>
form
  section
    display: flex
    justify-content: space-between
  legend
    color: deeppink
</style>

<script>
import RegistrationForm from '@/components/RegistrationForm';

export default {
  components: {
    RegistrationForm
  }
}
</script>

