<template>
  <b-navbar>
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
        Vue Mockup Registration Form Component
      </b-navbar-item>
    </template>
    <template slot="end">
      <b-navbar-item v-for="route of routes" tag="router-link" :key="route.title" :to="route.to">
        {{ route.title }}
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<style lang="stylus" scoped>
#nav
  padding: 30px

  a
    font-weight: bold
    color: #2c3e50

    &:link,
    &:visited
      &.router-link-exact-active
        color: #42b983
</style>

<script>
export default {
  data: () => {
    return {
      routes: [
        {
          title: 'Home',
          to: {path: '/'},
        },
        {
          title: 'Register',
          to: {path: '/register'},
        },
        {
          title: 'Members',
          to: {path: '/members'},
        }
      ]
    }
  }
}
</script>

