<template>
  <form>
    <section class="columns">
      <legend class="column">Items marked with * are required.</legend>
    </section>

    <section class="columns">
      <b-field
        class="column"
        :type="isHonorificValid"
        :message="validationMsgs.honorific"
        >
        <b-select
          placeholder="Honorific"
          v-model="userInfo.honorific"
          >
          <option
            v-for="honorific of honorifics"
            :key="honorific.value"
            :value="honorific.value"
            >
            {{ honorific.text }}
          </option>
        </b-select>
      </b-field>
    </section>

    <section class="columns">
      <b-field
        class="column"
        :type="isFirstNameValid"
        :message="validationMsgs.firstName"
        >
        <b-input
          placeholder="First name*"
          name="firstName"
          v-model="userInfo.firstName"
          @keyup.native="validateFirstName"
          @change.native="validateFirstName"
          required>
        </b-input>
      </b-field>
      <b-field
        class="column"
        :type="isLastNameValid"
        :message="validationMsgs.lastName"
        >
        <b-input
          placeholder="Last name / Surname*"
          name="lastName"
          v-model="userInfo.lastName"
          @keyup.native="validateLastName"
          @change.native="validateLastName"
          required>
        </b-input>
      </b-field>
    </section>

    <section class="columns">
      <b-field
        class="column"
        :type="isEmailCorrect"
        :message="validationMsgs.email"
        >
        <b-input
          type="email"
          name="email"
          placeholder="Email*"
          v-model="userInfo.email"
          @keyup.native="validateEmail"
          @change.native="validateEmail"
          required>
        </b-input>
      </b-field>
      <b-field
        class="column"
        :type="isConfirmationEmailCorrect"
        :message="validationMsgs.confirmEmail"
        >
        <b-input
          type="email"
          name="confirmEmail"
          placeholder="Confirm email*"
          v-model="validationEmail"
          @keyup.native="emailConfirmation"
          @change.native="emailConfirmation"
          required>
        </b-input>
      </b-field>
    </section>

    <section class="columns">
      <b-field
        class="column"
        :type="isDateOfBirthCorrect"
        :message="validationMsgs.dateOfBirth"
        >
        <b-datepicker
          name="dateOfBirth"
          :show-week-number="true"
          :first-day-of-week="0"
          v-model="userInfo.dateOfBirth"
          @change.native="validateDateOfBirth"
          >
          <button class="button is-danger"
                  @click="userInfo.dateOfBirth = null">
            <b-icon icon="times"></b-icon>
            <span>Clear</span>
          </button>
        </b-datepicker>
      </b-field>
      <b-field
        class="column"
        :type="isPhoneNumberCorrect"
        :message="validationMsgs.phoneNumber"
        >
        <b-input
          type="text"
          placeholder="Phone number*"
          name="phoneNumber"
          v-model="userInfo.phoneNumber"
          @keyup.native="autoFormatPhoneNumber"
          maxlength="13"
          required>
        </b-input>
      </b-field>
    </section>

    <section class="columns">
      <b-field class="column">
        <b-button
          class="button is-danger"
          @click="clearFields"
          >
          Clear
        </b-button>
      </b-field>
      <b-field class="column">
        <b-button
          @click="randomizeFields"
          >
          Randomize
        </b-button>
      </b-field>
      <b-field
        class="column"
        >
        <b-button
          tag="input"
          class="button is-primary"
          native-type="submit"
          value="Submit"
          @click.prevent="submitForm"
          :disabled="isFormInvalid"
          >
          Submit
        </b-button>
      </b-field>
    </section>
  </form>
</template>

<style lang="stylus" scoped>
form
  section
    display: flex
    justify-content: space-between

  legend
    color: deeppink
</style>

<script>
import { fakeUsers } from '@/lib/fakeUsers';
import { emails } from '@/lib/fakeEmails';

export default {
  name: 'Registration-Form',
  data: () => {
    return {
      honorifics: [
        {
          value: 0,
          text: 'Mr',
        },
        {
          value: 1,
          text: 'Mrs',
        },
        {
          value: 2,
          text: 'Prof',
        },
      ],
      userInfo: {
        honorific: undefined,
        firstName: '',
        lastName: '',
        email: '',
        dateOfBirth: new Date(1990, 12, 1),
        phoneNumber: '',
      },
      validationEmail: '',
      validationMsgs: {
        honorific: '',
        firstName: '',
        lastName: '',
        email: '',
        confirmEmail: '',
        dateOfBirth: '',
        phoneNumber: '',
      },
      isFormInvalid: true,
    }
  },
  computed: {
    isHonorificValid() {
      if (this.validationMsgs.honorific === '')
        return '';
      else if (this.validationMsgs.honorific === 'Good')
        return 'is-success';
      else
        return 'is-danger';
    },
    isFirstNameValid() {
      if (this.validationMsgs.firstName === '')
        return '';
      else if (this.validationMsgs.firstName === 'Good')
        return 'is-success';
      else
        return 'is-danger';
    },
    isLastNameValid() {
      if (this.validationMsgs.lastName === '')
        return '';
      else if (this.validationMsgs.lastName === 'Good')
        return 'is-success';
      else
        return 'is-danger';
    },
    isEmailCorrect() {
      if (this.validationMsgs.email === '')
        return '';
      else if (this.validationMsgs.email === 'Email is valid')
        return 'is-success';
      else
        return 'is-danger';
    },
    isConfirmationEmailCorrect() {
      if (this.validationMsgs.confirmEmail === '')
        return '';
      else if (this.validationMsgs.confirmEmail === 'Matched')
        return 'is-success';
      else
        return 'is-danger';
    },
    isPhoneNumberCorrect() {
      if (this.validationMsgs.phoneNumber === '')
        return '';
      else if (this.validationMsgs.phoneNumber === 'Good')
        return 'is-success';
      else
        return 'is-danger';
    },
    isDateOfBirthCorrect() {
      if (this.validationMsgs.dateOfBirth === '')
        return '';
      else if (this.validationMsgs.dateOfBirth === 'Good')
        return 'is-success';
      else
        return 'is-danger';
    },
  },
  watch: {
    validationMsgs: {
      handler() {
        const validStrings = ['Good', 'Email is valid', 'Matched'];
        for (let item in this.validationMsgs) {
          if (!validStrings.includes(this.validationMsgs[item])) {
            this.isFormInvalid = true;
            return;
          }
        }
        this.isFormInvalid = false;
      },
      deep: true
    },
    userInfo: {
      handler() {
        this.validateHonorific();
      },
      deep: true
    }
  },
  methods: {
    validateHonorific() {
      if (this.userInfo.honorific === undefined) {
        this.validationMsgs.honorific = 'Please pick an honorific';
      } else {
        this.validationMsgs.honorific = 'Good';
      }
    },
    validateFirstName() {
      if (!this.userInfo.firstName) {
        this.validationMsgs.firstName = 'First name is required';
      } else if (! /^[a-zA-Z\s]+$/.test(this.userInfo.firstName)) {
        this.validationMsgs.firstName = 'First name must contain only alphabets and whitepsaces';
      } else {
        this.validationMsgs.firstName = 'Good';
      }
    },

    validateLastName() {
      if (!this.userInfo.lastName) {
        this.validationMsgs.lastName = 'Last name is required';
      } else if (! /^[a-zA-Z\s]+$/.test(this.userInfo.lastName)) {
        this.validationMsgs.lastName = 'Last name must contain only alphabets and whitepsaces';
      } else {
        this.validationMsgs.lastName = 'Good';
      }
    },

    validateEmail() {
      if (!this.userInfo.email) {
        this.validationMsgs.email = 'Email is required';
      } else if (emails.includes(this.userInfo.email)) {
        this.validationMsgs.email = 'Email is already in use';
      } else if (! /\S+@\S+\.\S+/.test(this.userInfo.email)) {
        // I know that this is a simplistic check
        this.validationMsgs.email = 'Email is invalid';
      } else {
        this.validationMsgs.email = 'Email is valid';
      }
    },

    emailConfirmation() {
      if (this.validationMsgs.email === 'Email is valid') {
        if (this.validationEmail === '' && this.userInfo.email) {
          this.validationMsgs.confirmEmail = 'Please confirm your email';
        } else if (this.userInfo.email !== this.validationEmail) {
          this.validationMsgs.confirmEmail = 'Emails do not match';
        } else {
          this.validationMsgs.confirmEmail = 'Matched';
        }
      } else {
        this.validationMsgs.confirmEmail = '';
      }
    },

    autoFormatPhoneNumber(event) {
      if (event.key !== "Backspace") {
        if (this.userInfo.phoneNumber.length === 3) {
          this.userInfo.phoneNumber = this.userInfo.phoneNumber
            .replace(/([0-9]{3})/, "$1-");
        } else if (
          this.userInfo.phoneNumber.length > 3 &&
          this.userInfo.phoneNumber.length < 10
        ) {
          this.userInfo.phoneNumber = this.userInfo.phoneNumber
            .replace(/([0-9]{3}-[0-9]{5})/, "$1-");
        }
      }

      this.validatePhoneNumber();
    },
    validatePhoneNumber() {
      if (this.userInfo.phoneNumber === '') {
        this.validationMsgs.phoneNumber = 'Phone number is required'
      } else if (! /[0-9]{3}-[0-9]{5}-[0-9]{3}/.test(this.userInfo.phoneNumber)) {
        this.validationMsgs.phoneNumber = 'Phone number format should match: xxx-yyyyy-zzz'
      } else {
        this.validationMsgs.phoneNumber = 'Good';
      }
    },

    validateDateOfBirth() {
      if (this.userInfo.dateOfBirth !== null) {
        this.validationMsgs.dateOfBirth = 'Good';
      } else {
        this.validationMsgs.dateOfBirth = 'Please choose a valid date';
      }
    },

    clearFields() {
      this.userInfo = {
        honorific: undefined,
        firstName: '',
        lastName: '',
        email: '',
        dateOfBirth: new Date(1990, 12, 1),
        phoneNumber: '',
      };
      this.validationEmail = '';

      this.validateEntireForm();
    },

    randomizeFields() {
      const fakeUser = fakeUsers[Math.floor(Math.random() * fakeUsers.length)];
      this.userInfo = fakeUser;
      this.validationEmail = fakeUser.email;

      this.validateEntireForm();
    },

    validateEntireForm() {
      this.validateHonorific();
      this.validateFirstName();
      this.validateLastName();
      this.validateEmail();
      this.emailConfirmation();
      this.validateDateOfBirth();
      this.validatePhoneNumber();
    },

    submitForm() {
      const rawUsers = window.sessionStorage.getItem('users');
      let users = [];
      if (rawUsers !== null) {
        users = JSON.parse(rawUsers);
        users.push(this.userInfo);
      } else {
        users = [this.userInfo];
      }

      window.sessionStorage.setItem('users', JSON.stringify(users));
      this.$router.push('members');
    }
  }
}
</script>

