<template>
  <div id="app">
    <Nav />
    <router-view />
  </div>
</template>

<style lang="stylus" scoped>
#app
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
</style>

<script>
import Nav from '@/components/Nav.vue';
export default {
  components: {
    Nav,
  },
};
</script>
